@media screen and (max-width: 769px) and (min-width: 479px){
    body {
        max-width: 767px;
        margin-left: 0;
        margin-right: 0;
    }

    header{
        text-align: center;
        margin-left: 4rem;
        margin-right: 4rem;

    }
    
    h1{
        margin-top: 5rem;
    }
    
    main{
        display: flex;
        justify-content: space-around;
        margin-top:3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    main > section{
        margin-bottom: 2rem;         
    }

    br {
        display: none;
    }
}


